<template>
    <div class="card">
        <div class="card-header">
          Users
          <button click.trigger="newUser()">New</button>
        </div>
        <div class="card-body">
      
            <table class="table table-sm table-striped table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr repeat.for="item of items">
                        <td  click.delegate="openUser(item.id)">${item.id}</td>
                        <td>${item.name}</td>
                        <td>${item.email}</td>
                        <td>${item.password}</td>
                      </tr>
                    
                    </tbody>
                  </table>
               
                </div>
    </div>
</template>
